#statbar{
    margin-right: 15px;
}

#company{
    float: right;
}
#cards{
    width: 80vw;
    background-color: rgba(158, 158, 158, 0.315);
    font-size: 25px;
}
mat-expansion-panel:active{
    background-color: rgb(28, 169, 212);
}
input{
    background-color: rgb(255, 255, 255);
}
.searchBar{
    background-color: rgba(158, 158, 158, 0.315);
}
button{
    margin-left: 10px;
}