#eachjobheader{
    font-size: 25px;
}
#eachjobsalary, #eachjoblocation, #eachjobdescription{
    font-size: 15px;
}

// #descArea{
//     height: 40px;
//     overflow: scroll;
// }

#eachjobbody{
    overflow: scroll;
}

#company{
    float: right;
}

#jobCards{
    overflow: scroll;
}